/*Linking Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Open+Sans:wght@500&display=swap');

*{
    box-sizing: border-box;
}

/*styling the body of the website*/
body {
    background-color: blue;
    background-image: linear-gradient(to right, purple, navy);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/*Styling the Movie App title*/
h2 {
    font-family: 'Jomhuria', cursive;
    font-size: 100px;
}

/*styling the header where the logo and search bar live*/
header {
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    display: flex;
    /* justify-content: flex-end; */
}

/* .header-space{ */
    td {
        width: 800px;
    }

.submit {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(114, 33, 185);
    color: white;
    font-size: 10px;
    border-radius: 10px;
}

/* table row element! this styles the color where logo, radio buttons and search  live*/
tr {
    background-color: black;
}

/* .center{
    justify-content: center;
} */

/*Styling the logo "Movie App" in header*/
h2 {
    /*text-align:left;*/
    color: white;
    display: inline;
    padding: 4rem;
    /*float: left;*/
}

/*Styling the text of the radio buttons*/
label {
    font-family: 'Open Sans', sans-serif;
    color: white;
    letter-spacing: .01ch;
    font-size: 15px;
}
/* styling the search button area*/
.search {
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: black;
}

/*styling placeholder text in search box*/
.search::placeholder {
    color: purple;
    text-align: left;
    font-size: 11px;
    font-style: italic;
}

/*styling for when we click inside the search bar*/
.search:focus {
    outline: none;
    background-color: white;
}

.form {
    background-color: yellow;
}
/*styling movie/main area*/
main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 250px;
    margin: 2rem;
    background-color: rgb(179, 187, 210);
    box-shadow: 0 4px 5px black;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

/* Styling the rating*/
.movie-info span {
    background-color: black;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-weight: bold;
  }
/*Styling the ratings so they change color*/
  .movie-info span.green {
    color: lightgreen;
  }
  

  .movie-info span.orange {
    color: orange;
  }


  .movie-info span.red {
    color: red;
  }

/*Styling the movie title text in the div*/
.movie-info h3 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

  /*Overview Section -- IF I MAKE THIS WHITE, PARTS OF THE TITLE DON'T SHOW*/
  .overview {
    background-color: transparent;
    padding: .5rem;
    color: purple;
    font-size: 10px;
    padding: .5rem .5rem;
    
  }
